<h1>商品一覧</h1>

<div>
  <% @items.each do |item| %>
  <table>
    <tbody>
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.image %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>