<div><%= image_tag @item.image %></div>

<div>
  <table>
    <tbody>
      <tr>
        <td><%= @item.name %></td>
        <td><%= @item.introduction %></td>
        <td><%= @item.price %>円</td>
      </tr>
    </tbody>
  </table>
</div>